In [4]:
1+1

2

In [6]:
a=1

In [7]:
b=1

In [8]:
a+b

2

In [9]:
a=10

In [10]:
b=20

In [11]:
a-b

-10

In [12]:
a*b

200

In [13]:
a/b

0.5

In [14]:
c=2

In [15]:
a**c

100

In [16]:
'ronaldo'

'ronaldo'

In [17]:
"ronaldo"

'ronaldo'

In [18]:
"Life is egg"
"You look so beutiful"

'You look so beutiful'

In [20]:
a='ronaldo'

In [21]:
b='siuuu'

In [22]:
len(b)

5

In [24]:
c='Life is egg'

In [26]:
c[-1]

'g'

In [27]:
c[0]

'L'

In [28]:
c[0:4]

'Life'

In [30]:
c['':-2]

TypeError: slice indices must be integers or None or have an __index__ method

In [32]:
"I eat two banana"

'I eat two banana'

In [33]:
"I eat %s banana" % "five"

'I eat five banana'

In [34]:
a='five'

In [36]:
"I eat %s banana" % a

'I eat five banana'

In [37]:
"I eat %d banana" % 3

'I eat 3 banana'

In [38]:
a='abcde'

In [40]:
'abcde'.count('b')

1

In [41]:
'abcde'.upper()

'ABCDE'

In [42]:
'ABCDE'.lower()

'abcde'

In [43]:
a='Python is best choice'

In [44]:
a.find('c')

15

In [45]:
a.index('c')

15

In [47]:
"/".join('abcd')

'a/b/c/d'

In [54]:
"보민 지환".replace(' ','♥')

'보민♥지환'

In [49]:
"태민 지환 용현 예슬 지완".replace('태민','기훈')

'기훈 지환 용현 예슬 지완'

In [57]:
"태민 지환 용현 예슬 지완".split(' ')

['태민', '지환', '용현', '예슬', '지완']

In [60]:
cc

['태민', '지환', '용현', '예슬', '지완']

In [62]:
d=['태민','지환','용현','예슬','지완']

In [63]:
d

['태민', '지환', '용현', '예슬', '지완']

In [66]:
list(d)

['태민', '지환', '용현', '예슬', '지완']

In [67]:
d[0]

'태민'

In [70]:
rr=['aaa',111,[1,2,3],{},{'a':'b'}]

In [72]:
rr[2][1]

2

In [76]:
c=[1,2,3]
d=[4,5,6]

In [75]:
for i in range(10) : print(i)

0
1
2
3
4
5
6
7
8
9

In [77]:
len(c)

3

In [82]:
c=[1,2,3]

In [84]:
c[0]=4

In [85]:
c

[4, 2, 3]

In [86]:
del c[1]

In [87]:
c

[4, 3]

In [88]:
c=[1,2,3,4,5,6]

In [89]:
del c[2:]

In [90]:
c

[1, 2]

In [92]:
c.append(3)

In [96]:
c=[4,6,1,2]

In [97]:
c.sort()

In [98]:
c

[1, 2, 4, 6]

In [99]:
c.reverse()

In [104]:
c

[6, 4, 2, 1]

In [105]:
c.index(1)

3

In [106]:
c.insert(0,8)

In [107]:
c

[8, 6, 4, 2, 1]

In [108]:
c.pop()

1

In [109]:
c

[8, 6, 4, 2]

In [110]:
c.pop(1)

6

In [111]:
c

[8, 4, 2]

In [116]:
c=[1,1,1,1,1,1,1,2,1,1,1,1,1]

In [117]:
c.count(1)

12

In [133]:
a=[1,2,3]
b=[4,5,6]

In [134]:
a.extend(b)

In [135]:
a

[1, 2, 3, 4, 5, 6]

튜플

In [142]:
t1=(1,2,3,4,5)

In [137]:
del t1 [1]=15

SyntaxError: invalid syntax (1785103727.py, line 1)

In [143]:
type(t1)

tuple

# 딕셔너리

In [145]:
a={'이름':'박재범','회사':'일보'}

In [146]:
type(a)

dict

In [147]:
a={'이름':'박재범','회사':'일보'}

In [150]:
a['이름']

'박재범'

In [153]:
a.get('회사')

'일보'

In [154]:
a['좋아하는 챔피언']='파이크'

In [157]:
a['라인전 주챔']={'탑':'아트록스','미드':'권은비','원딜':'자야'}

In [160]:
a['라인전 주챔']['미드']

'권은비'

In [161]:
a.keys()

dict_keys(['이름', '회사', '좋아하는 챔피언', '라인전 주챔'])

In [162]:
a.clear()

In [163]:
price=['20180728',100,130,140,150,160,170]

In [164]:
[100,130,140,150,160,170] #price_only 변수에 담기

[100, 130, 140, 150, 160, 170]

In [172]:
interest = ['삼성','LG','naver']

In [166]:
del price [0]

In [167]:
price

[100, 130, 140, 150, 160, 170]

In [173]:
del interest [1]

In [174]:
interest

['삼성', 'naver']

In [184]:
icecream_price={'메로나':1000,'폴라포':1200,'빵빠레':1800}

In [185]:
icecream_price

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [187]:
icecream_price['폴라포']

1200

In [189]:
c={1,2,3,4,5,6}

In [190]:
type(c)

set

In [191]:
blue_ban=['파이크','자야','제드','그웬','크샨테']
blue_ban=['아리','아지르','럭스','자야','블츠']

In [192]:
set(blue_ban+red_ban)

{'그웬', '럭스', '블츠', '아리', '아지르', '자야', '제드', '크샨테', '파이크'}

In [197]:
money = False

In [198]:
if money:
    print('택시')
else:
    print('도보')

도보

In [207]:
money = 4500

In [210]:
if money > 6000:
    print('택시 ㄱㄱ')
elif money > 4000:
    print('버스 ㄱㄱ')
else:
    print('도보 ㄱㄱ')

버스 ㄱㄱ

In [217]:
position = '탑'
champion = '그웬'

In [220]:
if position == '탑' or champion == '가렌':
   print('퀸')
else:
    print('다리우스')

퀸

In [225]:
a=3

In [224]:
if a % 3 == 0:
    print('3')
else:
    print('0')

0

In [253]:
a=0

In [254]:
if a % 3 == 0 and a != 0 or a % 5 == 0 and a != 0:
    print('정답')
    
else:
    print('틀림')

틀림

# while문

In [263]:
a=2

In [264]:
while a < 10:
    print(a)
    a +=1

2
3
4
5
6
7
8
9

In [265]:
a = 0
while True:
    print(a)
    a += 2
    if a>20:
        break

0
2
4
6
8
10
12
14
16
18
20

In [266]:
a

22

In [274]:
coffee = 10
money = 300

while True:
    print('할메가 구매')
    coffee -= 1
    money -= 50
    print("남은 커피 양은 %d개입니다"% coffee)
    print("남은 돈은 %d원 입니다"% money)
    if coffee == 0:
        print('재료 소진 판매 중지')
        break
    if money < 0:
        print('돈이 없어서 구매를 할 수 없어')
        break

할메가 구매
남은 커피 양은 9개입니다
남은 돈은 250원 입니다
할메가 구매
남은 커피 양은 8개입니다
남은 돈은 200원 입니다
할메가 구매
남은 커피 양은 7개입니다
남은 돈은 150원 입니다
할메가 구매
남은 커피 양은 6개입니다
남은 돈은 100원 입니다
할메가 구매
남은 커피 양은 5개입니다
남은 돈은 50원 입니다
할메가 구매
남은 커피 양은 4개입니다
남은 돈은 0원 입니다
할메가 구매
남은 커피 양은 3개입니다
남은 돈은 -50원 입니다
돈이 없어서 구매를 할 수 없어

In [277]:
num_list = [1,2,3,4,5]

In [279]:
for i in num_list:
    print(i+5)

6
7
8
9
10

In [291]:
score_list=[90,80,24,37,59]

# 시험 점수 60이상이면 number번째 학생 합격
# 미만이면 number번째 학생 불합격

In [282]:
number = 0

In [300]:
for i in score_list:
    number += 1
    if(i >= 60):
        print(i,"%d번째 학생은 합격입니다"% number)
    else:
        print(i,"%d번째 학생은 불합격입니다"% number)

90 16번째 학생은 합격입니다
80 17번째 학생은 합격입니다
24 18번째 학생은 불합격입니다
37 19번째 학생은 불합격입니다
59 20번째 학생은 불합격입니다

In [301]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

for i in range(10):
    for j in range(2,4):
        print(i,j,i+j)

# 이중 for문 사용해서 2~9단까지 만들기

In [1]:
table=[]

In [2]:
for i in range(2,10):
    num_list = []
    for j in range(1,10):
        num_list.append(i*j)  
    table.append(num_list)

In [3]:
table

[[2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

# 함수

In [1]:
def test(a,b):
    return a+b

In [2]:
test(5,6)

11

In [3]:
def test(a,b):
    print(a+b)

test(5,6)

# 학생 한명의 점수를 매개변수로 받아서 80점 이상이면 합격//아님 불합격

In [32]:
def test1(i):
        if (i >= 80):
            return("합격")
        else:
              return("불합격")

In [33]:
test1(80)

'합격'

In [34]:
def test1(i):
    try:
        if int(i) >= 80:
            return("합격")
        else:
              return("불합격")
    except:
        print('숫자로 써라..')

In [35]:
test1('80')

'합격'

In [50]:
def test(*args):
    sum_list = []
    print(args)
    for i in args:
        sum_list.append(i+2)
    return sum_list

In [53]:
test(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

[3, 4, 5, 6, 7, 8]

In [56]:
aa = input("숫자를 입력해라: ")

숫자를 입력해라: 50

In [57]:
aa

'50'

# class

In [59]:
class Test:
    def __init__(self):
        self.result = 0
        
    def add(self,num):
        self.result += num
        return self.result

In [60]:
calc1 = Test()

In [61]:
calc1.add(3)

3

In [62]:
calc1.add(5)

8

In [63]:
a = [1,2,3,4]

In [64]:
class Test2(Test):

SyntaxError: incomplete input (2284282435.py, line 2)

# lambda

In [67]:
[i+1 for i in range(5)]

[1, 2, 3, 4, 5]

In [ ]:
lst = ['파이크','트페','갈리오','트런들','카타리나']

# map

In [70]:
champ_lst

In [71]:
list(map(lambda x:'챔피언:'+x ,lst))

['챔피언:파이크', '챔피언:트페', '챔피언:갈리오', '챔피언:트런들', '챔피언:카타리나']

# filter

In [75]:
list(filter(lambda x:x if len(x)==3 else '',lst))

['파이크', '갈리오', '트런들']

In [ ]:
num_list = [1,2,3,4,5,6,7,8,9,10]

# map lambda로 각각의 값에 *3씩해서 리스트 담기
# filter lambda로 짝수만 뽑아서 결과값에 *2 해서 리스트 담기

In [ ]:
list(map(lambda x:x * 3 ,num_list))

In [ ]:
list(map(lambda i:i*2, (filter(lambda x:x if x % 2 == 0  else '', num_list))))

주민등록번호 13자리를 문자열로 입력 받아, 받은 주민번호를 기반으로 남성인지 여성인지를 판별하여 반환하는 함수를 작성하시오.

입력 문자열은 "주민번호 앞자리 - 뒷자리"로 구성됨 반환 문자열은 "남성", "여성" 둘중 하나

주민번호 뒷자리중 첫번째 숫자가 1이면 남성, 2이면 여성

In [4]:
def num(i):
        if i[8] == '1':
            return("남자")
        else:
              return("여자")

In [8]:
다음 데이터를 함수 내에 딕셔너리 형태로 저장한 다음, 함수의 매개변수 입력으로 딕셔너리의 키에 해당하는 문자열을 받으면, 키에 해당하는 값을 반환하는 함수를 작성하시오.

함수내 저장해야하는 데이터

phones = {"S5": 2014, "S7": 2016, "note8": 2017, "S9": 2018, "S10": 2019}

In [9]:
def phone(a):
    phones ={"S5": 2014, "S7": 2016, "note8": 2017, "S9": 2018, "S10": 2019}
    result = phones[a]
    result = phones.get(a)
    return result

In [ ]:
휴대전화 번호를 문자열 형태로 함수의 매개변수로 입력 받으면, 휴대전화 4개의 뒷자리를 ####으로 바꾸어 반환하는 함수를 작성하시오.

예1)

입력(문자열) : "010-3222-1234" 반환(문자열) : "010-3222-####"

In [15]:
def phone2(a):
    b = a.split('-')
    b[2] = '####'
    result = '-'.join(b)
    return result

In [16]:
a = "010-2222-3333"

In [17]:
b = a.split('-')
b[2] = "####"

In [18]:
b

['010', '2222', '####']

# 데이터프레임

In [25]:
import pandas as pd

In [21]:
lst

['탑', '다리우스', '정글', '비에고']

In [22]:
series = pandas.Series(lst)

In [23]:
series

0       탑
1    다리우스
2      정글
3     비에고
dtype: object

In [24]:
type(series)

pandas.core.series.Series

In [26]:
dic = {}
dic['lane'] = 'TOP'
dic['champion']='올라프'
dic

{'lane': 'TOP', 'champion': '올라프'}

In [27]:
series = pd.Series(dic)

In [28]:
series

lane        TOP
champion    올라프
dtype: object

In [29]:
series.loc['champion']

'올라프'

In [30]:
series.iloc[0]

'TOP'

In [31]:
tmp=pd.Series([3,2,4],index=['kills','death','assists'])

In [32]:
tmp

kills      3
death      2
assists    4
dtype: int64

In [34]:
new_series = pd.concat([series,tmp])

In [35]:
new_series

lane        TOP
champion    올라프
kills         3
death         2
assists       4
dtype: object

In [36]:
df = pd.DataFrame(new_series)

In [37]:
df

            0
lane      TOP
champion  올라프
kills       3
death       2
assists     4

In [38]:
df = pd.DataFrame([new_series])

In [39]:
df

  lane champion  kills  death  assists
0  TOP      올라프      3      2        4

In [40]:
lst =[['jungle','리 신',0,5,3],['mid','신드라',8,2,0]]

In [41]:
a_df = pd.DataFrame(lst,columns=['lane','champion','kills','death','assists'])

In [53]:
a_df

     lane champion  kills  death  assists
0  jungle      리 신      0      5        3
1     mid      신드라      8      2        0

In [54]:
dic = {'lane':['bottom','supporter'],'champion':['이즈리얼','노틸러스'],'kills':[3,0],'death':[0,2],'assists':[2,5]}

In [58]:
b_df = pd.DataFrame(dic)

In [59]:
new_df = pd.concat([a_df,b_df])

In [60]:
b_df

        lane champion  kills  death  assists
0     bottom     이즈리얼      3      0        2
1  supporter     노틸러스      0      2        5

In [63]:
new_df

        lane champion  kills  death  assists
0     jungle      리 신      0      5        3
1        mid      신드라      8      2        0
0     bottom     이즈리얼      3      0        2
1  supporter     노틸러스      0      2        5

In [66]:
new_df.reset_index(inplace = True)

In [67]:
new_df

   level_0  index       lane champion  kills  death  assists
0        0      0     jungle      리 신      0      5        3
1        1      1        mid      신드라      8      2        0
2        2      0     bottom     이즈리얼      3      0        2
3        3      1  supporter     노틸러스      0      2        5

In [69]:
new_df.drop('index',axis=1,inplace = True)

In [70]:
new_df

   level_0       lane champion  kills  death  assists
0        0     jungle      리 신      0      5        3
1        1        mid      신드라      8      2        0
2        2     bottom     이즈리얼      3      0        2
3        3  supporter     노틸러스      0      2        5

In [73]:
new_df.sort_values(by = ['kills','assists'],ascending = False)

   level_0       lane champion  kills  death  assists
1        1        mid      신드라      8      2        0
2        2     bottom     이즈리얼      3      0        2
3        3  supporter     노틸러스      0      2        5
0        0     jungle      리 신      0      5        3

In [5]:
lst = [['TOP','blue','이렐리아',7,2,7],['MID','blue','바루스',18,0,4],
       ['BOTTOM','blue','애쉬',1,5,15],['TOP','red','일라오이',3,9,0],
       ['MID','red','벡스',1,10,3],['BOTTOM','red','제리',11,9,2]]

In [6]:
df = pd.DataFrame(lst,columns = ['lane','team','champion','kills','deaths','assists'])

In [88]:
df2 = df[['lane','kills','deaths','assists']]

In [89]:
df2.groupby('lane').mean()

        kills  deaths  assists
lane
BOTTOM    6.0     7.0      8.5
MID       9.5     5.0      3.5
TOP       5.0     5.5      3.5

In [90]:
df['condition'] = 'none'

In [91]:
df

     lane  team champion  kills  deaths  assists condition
0     TOP  blue     이렐리아      7       2        7      none
1     MID  blue      바루스     18       0        4      none
2  BOTTOM  blue       애쉬      1       5       15      none
3     TOP   red     일라오이      3       9        0      none
4     MID   red       벡스      1      10        3      none
5  BOTTOM   red       제리     11       9        2      none

In [93]:
df['condition']= df.apply(lambda x:'good' if x.deaths < 6 else 'bad',axis = 1)

In [94]:
df

     lane  team champion  kills  deaths  assists condition
0     TOP  blue     이렐리아      7       2        7      good
1     MID  blue      바루스     18       0        4      good
2  BOTTOM  blue       애쉬      1       5       15      good
3     TOP   red     일라오이      3       9        0       bad
4     MID   red       벡스      1      10        3       bad
5  BOTTOM   red       제리     11       9        2       bad

In [119]:
df['kda'] = 'none'

In [7]:
df

     lane  team champion  kills  deaths  assists
0     TOP  blue     이렐리아      7       2        7
1     MID  blue      바루스     18       0        4
2  BOTTOM  blue       애쉬      1       5       15
3     TOP   red     일라오이      3       9        0
4     MID   red       벡스      1      10        3
5  BOTTOM   red       제리     11       9        2

In [9]:
df['kda']= df.apply(lambda x: round((x.kills+x.assists)/x.deaths,2) if x.deaths != 0 else x.kills+x.assists,axis = 1)

In [18]:
df.sort_values(by = ['kda'],ascending = False)

     lane  team champion  kills  deaths  assists    kda
1     MID  blue      바루스     18       0        4  22.00
0     TOP  blue     이렐리아      7       2        7   7.00
2  BOTTOM  blue       애쉬      1       5       15   3.20
5  BOTTOM   red       제리     11       9        2   1.44
4     MID   red       벡스      1      10        3   0.40
3     TOP   red     일라오이      3       9        0   0.33

# Divide

In [4]:
import pandas as pd

In [10]:
df.sort_values(by = ['kda'],ascending = False)

     lane  team champion  kills  deaths  assists    kda
1     MID  blue      바루스     18       0        4  22.00
0     TOP  blue     이렐리아      7       2        7   7.00
2  BOTTOM  blue       애쉬      1       5       15   3.20
5  BOTTOM   red       제리     11       9        2   1.44
4     MID   red       벡스      1      10        3   0.40
3     TOP   red     일라오이      3       9        0   0.33

In [11]:
blue_team = df[df.team == 'blue']
red_team = df[df['team'] == 'red']

In [12]:
blue_team

     lane  team champion  kills  deaths  assists   kda
0     TOP  blue     이렐리아      7       2        7   7.0
1     MID  blue      바루스     18       0        4  22.0
2  BOTTOM  blue       애쉬      1       5       15   3.2

In [13]:
red_team

     lane team champion  kills  deaths  assists   kda
3     TOP  red     일라오이      3       9        0  0.33
4     MID  red       벡스      1      10        3  0.40
5  BOTTOM  red       제리     11       9        2  1.44

In [14]:
concat_df = pd.concat([red_team,blue_team],ignore_index = True)

In [15]:
concat_df

     lane  team champion  kills  deaths  assists    kda
0     TOP   red     일라오이      3       9        0   0.33
1     MID   red       벡스      1      10        3   0.40
2  BOTTOM   red       제리     11       9        2   1.44
3     TOP  blue     이렐리아      7       2        7   7.00
4     MID  blue      바루스     18       0        4  22.00
5  BOTTOM  blue       애쉬      1       5       15   3.20

# Merge

In [16]:
merge_df = pd.merge(blue_team,red_team,on =['lane'])

In [19]:
merge_df

,lane,team_x,champion_x,kills_x,deaths_x,assists_x,kda_x,team_y,champion_y,kills_y,deaths_y,assists_y,kda_y
0,TOP,blue,이렐리아,7,2,7,7.0,red,일라오이,3,9,0,0.33
1,MID,blue,바루스,18,0,4,22.0,red,벡스,1,10,3,0.40
2,BOTTOM,blue,애쉬,1,5,15,3.2,red,제리,11,9,2,1.44

In [38]:
col = ['lane','blue_team','champName_blue','kills_blue','deaths_blue','assists_blue','kda_blue',
      'red_team','champName_red','kills_red','deaths_red','assists_red','kda_red']

In [39]:
merge_df.columns = col

In [40]:
merge_df

,lane,blue_team,champName_blue,kills_blue,deaths_blue,assists_blue,kda_blue,red_team,champName_red,kills_red,deaths_red,assists_red,kda_red
0,TOP,blue,이렐리아,7,2,7,7.0,red,일라오이,3,9,0,0.33
1,MID,blue,바루스,18,0,4,22.0,red,벡스,1,10,3,0.40
2,BOTTOM,blue,애쉬,1,5,15,3.2,red,제리,11,9,2,1.44

In [41]:
dup_df = pd.concat([merge_df,merge_df])

In [42]:
dup_df

,lane,blue_team,champName_blue,kills_blue,deaths_blue,assists_blue,kda_blue,red_team,champName_red,kills_red,deaths_red,assists_red,kda_red
0,TOP,blue,이렐리아,7,2,7,7.0,red,일라오이,3,9,0,0.33
1,MID,blue,바루스,18,0,4,22.0,red,벡스,1,10,3,0.40
2,BOTTOM,blue,애쉬,1,5,15,3.2,red,제리,11,9,2,1.44
0,TOP,blue,이렐리아,7,2,7,7.0,red,일라오이,3,9,0,0.33
1,MID,blue,바루스,18,0,4,22.0,red,벡스,1,10,3,0.40
2,BOTTOM,blue,애쉬,1,5,15,3.2,red,제리,11,9,2,1.44

In [44]:
dup_df.drop_duplicates(['champName_blue'],inplace = True)

In [45]:
dup_df

,lane,blue_team,champName_blue,kills_blue,deaths_blue,assists_blue,kda_blue,red_team,champName_red,kills_red,deaths_red,assists_red,kda_red
0,TOP,blue,이렐리아,7,2,7,7.0,red,일라오이,3,9,0,0.33
1,MID,blue,바루스,18,0,4,22.0,red,벡스,1,10,3,0.40
2,BOTTOM,blue,애쉬,1,5,15,3.2,red,제리,11,9,2,1.44

# read_csv / to_csv

In [48]:
merge_df.to_csv('test.csv',index = False, encoding = 'utf-8')

In [49]:
champion_df = pd.read_csv('cn_kr.csv')

In [50]:
champion_df

     championId champion_name_kr
0             1               애니
1             2              올라프
2             3              갈리오
3             4        트위스티드 페이트
4             5             신 짜오
..          ...              ...
154         777               요네
155         875               세트
156         876              릴리아
157         887               그웬
158         888         레나타 글라스크

[159 rows x 2 columns]

In [53]:
dsr_df = pd.read_csv('dsr.csv')

In [54]:
dsr_df

,gameId,duration,participantId,championId,lane,side,win,damageDealt,damageTaken,gold,...,g21,g22,g23,g24,g25,g26,g27,g28,g29,g30
0,5311499506,2196,1,412,Supporter,blue,True,5969,16076,9634,...,5256,5426,5647,6123,6411,7078,7228,7418,7619,7789
1,5311499506,2196,2,517,Middle,blue,True,21107,26083,13317,...,7191,7550,7779,8656,9200,9724,10002,10856,11142,11348
2,5311499506,2196,3,145,Bot,blue,True,28755,16542,19154,...,9180,9616,10379,11657,12485,13660,14015,14644,14961,15434
3,5311499506,2196,4,234,Jungle,blue,True,18808,31963,15297,...,8705,8958,9253,9962,10525,10972,11258,11755,12062,12229
4,5311499506,2196,5,266,Top,blue,True,15994,41212,13551,...,8364,8661,9182,9839,10084,10329,10667,10839,11118,11345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,5346520241,1786,6,89,Supporter,red,True,7562,22776,8885,...,5593,5976,6241,6457,6597,6737,7958,8299,8564,8885
999996,5346520241,1786,7,92,Top,red,True,15334,24188,11123,...,7571,7897,8243,8625,8747,9022,9340,10084,10726,11123
999997,5346520241,1786,8,91,Middle,red,True,27626,23651,13600,...,9610,9733,10676,10798,10984,11120,12223,12729,13306,13600
999998,5346520241,1786,9,141,Jungle,red,True,23209,25823,15988,...,10375,10932,11994,12548,12887,13039,13967,14756,15506,15988
999999,5346520241,1786,10,202,Bot,red,True,20059,21011,12671,...,8701,9169,9918,10116,10385,10507,11158,11380,12196,12671

In [55]:
dsr_df.columns

Index(['gameId', 'duration', 'participantId', 'championId', 'lane', 'side',
       'win', 'damageDealt', 'damageTaken', 'gold', 'kills', 'deaths',
       'assists', 'g5', 'g6', 'g7', 'g8', 'g9', 'g10', 'g11', 'g12', 'g13',
       'g14', 'g15', 'g16', 'g17', 'g18', 'g19', 'g20', 'g21', 'g22', 'g23',
       'g24', 'g25', 'g26', 'g27', 'g28', 'g29', 'g30'],
      dtype='object')

In [99]:
my_df = dsr_df[['gameId', 'duration', 'participantId', 'championId', 'lane',
       'side', 'win', 'damageDealt', 'damageTaken', 'gold', 'kills', 'deaths',
       'assists']]

In [100]:
my_df

,gameId,duration,participantId,championId,lane,side,win,damageDealt,damageTaken,gold,kills,deaths,assists
0,5311499506,2196,1,412,Supporter,blue,True,5969,16076,9634,0,3,20
1,5311499506,2196,2,517,Middle,blue,True,21107,26083,13317,5,3,11
2,5311499506,2196,3,145,Bot,blue,True,28755,16542,19154,11,2,10
3,5311499506,2196,4,234,Jungle,blue,True,18808,31963,15297,9,4,10
4,5311499506,2196,5,266,Top,blue,True,15994,41212,13551,3,4,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,5346520241,1786,6,89,Supporter,red,True,7562,22776,8885,2,8,19
999996,5346520241,1786,7,92,Top,red,True,15334,24188,11123,3,5,7
999997,5346520241,1786,8,91,Middle,red,True,27626,23651,13600,9,11,9
999998,5346520241,1786,9,141,Jungle,red,True,23209,25823,15988,15,3,7
999999,5346520241,1786,10,202,Bot,red,True,20059,21011,12671,8,7,8

# 딜량
# 받은 피해량
# 딜량 / 받은 피해량 -> apply 만들어보기
# dm_per 컬럼

In [65]:
my_df['dm_per'] = 'none'

C:\Users\user\AppData\Local\Temp\ipykernel_19388\2117201859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['dm_per'] = 'none'

In [66]:
my_df

,gameId,duration,participantId,championId,lane,side,win,damageDealt,damageTaken,gold,kills,deaths,assists,dm_per
0,5311499506,2196,1,412,Supporter,blue,True,5969,16076,9634,0,3,20,none
1,5311499506,2196,2,517,Middle,blue,True,21107,26083,13317,5,3,11,none
2,5311499506,2196,3,145,Bot,blue,True,28755,16542,19154,11,2,10,none
3,5311499506,2196,4,234,Jungle,blue,True,18808,31963,15297,9,4,10,none
4,5311499506,2196,5,266,Top,blue,True,15994,41212,13551,3,4,13,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,5346520241,1786,6,89,Supporter,red,True,7562,22776,8885,2,8,19,none
999996,5346520241,1786,7,92,Top,red,True,15334,24188,11123,3,5,7,none
999997,5346520241,1786,8,91,Middle,red,True,27626,23651,13600,9,11,9,none
999998,5346520241,1786,9,141,Jungle,red,True,23209,25823,15988,15,3,7,none
999999,5346520241,1786,10,202,Bot,red,True,20059,21011,12671,8,7,8,none

In [125]:
my_df['dm_per']= my_df.apply(lambda x: x.damageDealt/x.damageTaken if x.damageTaken != 0 else 0,axis = 1)

C:\Users\user\AppData\Local\Temp\ipykernel_19388\2833575701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['dm_per']= my_df.apply(lambda x: x.damageDealt/x.damageTaken if x.damageTaken != 0 else 0,axis = 1)

In [90]:
my_df

,gameId,duration,participantId,championId,lane,side,win,damageDealt,damageTaken,gold,kills,deaths,assists,dm_per,dm_gold
0,5311499506,2196,1,412,Supporter,blue,True,5969,16076,9634,0,3,20,0.371299,none
1,5311499506,2196,2,517,Middle,blue,True,21107,26083,13317,5,3,11,0.809224,none
2,5311499506,2196,3,145,Bot,blue,True,28755,16542,19154,11,2,10,1.738303,none
3,5311499506,2196,4,234,Jungle,blue,True,18808,31963,15297,9,4,10,0.588430,none
4,5311499506,2196,5,266,Top,blue,True,15994,41212,13551,3,4,13,0.388091,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,5346520241,1786,6,89,Supporter,red,True,7562,22776,8885,2,8,19,0.332016,none
999996,5346520241,1786,7,92,Top,red,True,15334,24188,11123,3,5,7,0.633951,none
999997,5346520241,1786,8,91,Middle,red,True,27626,23651,13600,9,11,9,1.168069,none
999998,5346520241,1786,9,141,Jungle,red,True,23209,25823,15988,15,3,7,0.898772,none
999999,5346520241,1786,10,202,Bot,red,True,20059,21011,12671,8,7,8,0.954690,none

In [68]:
my_df['dm_gold'] = 'none'

C:\Users\user\AppData\Local\Temp\ipykernel_19388\755468147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['dm_gold'] = 'none'

In [69]:
my_df

,gameId,duration,participantId,championId,lane,side,win,damageDealt,damageTaken,gold,kills,deaths,assists,dm_per,dm_gold
0,5311499506,2196,1,412,Supporter,blue,True,5969,16076,9634,0,3,20,none,none
1,5311499506,2196,2,517,Middle,blue,True,21107,26083,13317,5,3,11,none,none
2,5311499506,2196,3,145,Bot,blue,True,28755,16542,19154,11,2,10,none,none
3,5311499506,2196,4,234,Jungle,blue,True,18808,31963,15297,9,4,10,none,none
4,5311499506,2196,5,266,Top,blue,True,15994,41212,13551,3,4,13,none,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,5346520241,1786,6,89,Supporter,red,True,7562,22776,8885,2,8,19,none,none
999996,5346520241,1786,7,92,Top,red,True,15334,24188,11123,3,5,7,none,none
999997,5346520241,1786,8,91,Middle,red,True,27626,23651,13600,9,11,9,none,none
999998,5346520241,1786,9,141,Jungle,red,True,23209,25823,15988,15,3,7,none,none
999999,5346520241,1786,10,202,Bot,red,True,20059,21011,12671,8,7,8,none,none

In [101]:
blue_team = my_df[my_df.side == 'blue'].copy()

In [102]:
blue_team

,gameId,duration,participantId,championId,lane,side,win,damageDealt,damageTaken,gold,kills,deaths,assists
0,5311499506,2196,1,412,Supporter,blue,True,5969,16076,9634,0,3,20
1,5311499506,2196,2,517,Middle,blue,True,21107,26083,13317,5,3,11
2,5311499506,2196,3,145,Bot,blue,True,28755,16542,19154,11,2,10
3,5311499506,2196,4,234,Jungle,blue,True,18808,31963,15297,9,4,10
4,5311499506,2196,5,266,Top,blue,True,15994,41212,13551,3,4,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999990,5346520241,1786,1,163,Jungle,blue,False,18635,24301,13457,7,7,11
999991,5346520241,1786,2,106,Top,blue,False,20092,31179,10901,4,7,15
999992,5346520241,1786,3,236,Middle,blue,False,17375,16639,14392,14,7,6
999993,5346520241,1786,4,40,Supporter,blue,False,6657,15788,7315,1,6,18
999994,5346520241,1786,5,21,Bot,blue,False,25028,24984,13221,8,10,11

In [103]:
blue_team['dm_gold']= blue_team.apply(lambda i: i.damageDealt/i.gold ,axis = 1)

In [104]:
blue_team

,gameId,duration,participantId,championId,lane,side,win,damageDealt,damageTaken,gold,kills,deaths,assists,dm_gold
0,5311499506,2196,1,412,Supporter,blue,True,5969,16076,9634,0,3,20,0.619576
1,5311499506,2196,2,517,Middle,blue,True,21107,26083,13317,5,3,11,1.584967
2,5311499506,2196,3,145,Bot,blue,True,28755,16542,19154,11,2,10,1.501253
3,5311499506,2196,4,234,Jungle,blue,True,18808,31963,15297,9,4,10,1.229522
4,5311499506,2196,5,266,Top,blue,True,15994,41212,13551,3,4,13,1.180282
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999990,5346520241,1786,1,163,Jungle,blue,False,18635,24301,13457,7,7,11,1.384781
999991,5346520241,1786,2,106,Top,blue,False,20092,31179,10901,4,7,15,1.843134
999992,5346520241,1786,3,236,Middle,blue,False,17375,16639,14392,14,7,6,1.207268
999993,5346520241,1786,4,40,Supporter,blue,False,6657,15788,7315,1,6,18,0.910048
999994,5346520241,1786,5,21,Bot,blue,False,25028,24984,13221,8,10,11,1.893049

In [105]:
red_team = my_df[my_df.side == 'red'].copy()

In [106]:
red_team

,gameId,duration,participantId,championId,lane,side,win,damageDealt,damageTaken,gold,kills,deaths,assists
5,5311499506,2196,6,64,Jungle,red,False,10114,35296,11089,1,6,10
6,5311499506,2196,7,111,Supporter,red,False,9023,21849,7477,1,9,10
7,5311499506,2196,8,523,Bot,red,False,24162,9262,15054,4,4,5
8,5311499506,2196,9,86,Middle,red,False,32308,24620,17633,8,2,5
9,5311499506,2196,10,85,Top,red,False,17896,22636,10931,2,7,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,5346520241,1786,6,89,Supporter,red,True,7562,22776,8885,2,8,19
999996,5346520241,1786,7,92,Top,red,True,15334,24188,11123,3,5,7
999997,5346520241,1786,8,91,Middle,red,True,27626,23651,13600,9,11,9
999998,5346520241,1786,9,141,Jungle,red,True,23209,25823,15988,15,3,7
999999,5346520241,1786,10,202,Bot,red,True,20059,21011,12671,8,7,8

In [107]:
red_team['dm_gold']= red_team.apply (lambda j:round(j.damageTaken/j.gold,2) ,axis = 1)

In [109]:
red_team

,gameId,duration,participantId,championId,lane,side,win,damageDealt,damageTaken,gold,kills,deaths,assists,dm_gold
5,5311499506,2196,6,64,Jungle,red,False,10114,35296,11089,1,6,10,3.18
6,5311499506,2196,7,111,Supporter,red,False,9023,21849,7477,1,9,10,2.92
7,5311499506,2196,8,523,Bot,red,False,24162,9262,15054,4,4,5,0.62
8,5311499506,2196,9,86,Middle,red,False,32308,24620,17633,8,2,5,1.40
9,5311499506,2196,10,85,Top,red,False,17896,22636,10931,2,7,6,2.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,5346520241,1786,6,89,Supporter,red,True,7562,22776,8885,2,8,19,2.56
999996,5346520241,1786,7,92,Top,red,True,15334,24188,11123,3,5,7,2.17
999997,5346520241,1786,8,91,Middle,red,True,27626,23651,13600,9,11,9,1.74
999998,5346520241,1786,9,141,Jungle,red,True,23209,25823,15988,15,3,7,1.62
999999,5346520241,1786,10,202,Bot,red,True,20059,21011,12671,8,7,8,1.66

In [110]:
my_df

,gameId,duration,participantId,championId,lane,side,win,damageDealt,damageTaken,gold,kills,deaths,assists
0,5311499506,2196,1,412,Supporter,blue,True,5969,16076,9634,0,3,20
1,5311499506,2196,2,517,Middle,blue,True,21107,26083,13317,5,3,11
2,5311499506,2196,3,145,Bot,blue,True,28755,16542,19154,11,2,10
3,5311499506,2196,4,234,Jungle,blue,True,18808,31963,15297,9,4,10
4,5311499506,2196,5,266,Top,blue,True,15994,41212,13551,3,4,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,5346520241,1786,6,89,Supporter,red,True,7562,22776,8885,2,8,19
999996,5346520241,1786,7,92,Top,red,True,15334,24188,11123,3,5,7
999997,5346520241,1786,8,91,Middle,red,True,27626,23651,13600,9,11,9
999998,5346520241,1786,9,141,Jungle,red,True,23209,25823,15988,15,3,7
999999,5346520241,1786,10,202,Bot,red,True,20059,21011,12671,8,7,8

In [111]:
champion_df

     championId champion_name_kr
0             1               애니
1             2              올라프
2             3              갈리오
3             4        트위스티드 페이트
4             5             신 짜오
..          ...              ...
154         777               요네
155         875               세트
156         876              릴리아
157         887               그웬
158         888         레나타 글라스크

[159 rows x 2 columns]

In [114]:
new_df = pd.merge(my_df,champion_df,on = ['championId'],how = 'left')

In [115]:
new_df

,gameId,duration,participantId,championId,lane,side,win,damageDealt,damageTaken,gold,kills,deaths,assists,champion_name_kr
0,5311499506,2196,1,412,Supporter,blue,True,5969,16076,9634,0,3,20,쓰레쉬
1,5311499506,2196,2,517,Middle,blue,True,21107,26083,13317,5,3,11,사일러스
2,5311499506,2196,3,145,Bot,blue,True,28755,16542,19154,11,2,10,카이사
3,5311499506,2196,4,234,Jungle,blue,True,18808,31963,15297,9,4,10,비에고
4,5311499506,2196,5,266,Top,blue,True,15994,41212,13551,3,4,13,아트록스
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,5346520241,1786,6,89,Supporter,red,True,7562,22776,8885,2,8,19,레오나
999996,5346520241,1786,7,92,Top,red,True,15334,24188,11123,3,5,7,리븐
999997,5346520241,1786,8,91,Middle,red,True,27626,23651,13600,9,11,9,탈론
999998,5346520241,1786,9,141,Jungle,red,True,23209,25823,15988,15,3,7,케인
999999,5346520241,1786,10,202,Bot,red,True,20059,21011,12671,8,7,8,진

In [121]:
new_df['dm_per'] = new_df.damageDealt / new_df.damageTaken

# na값 찾기

In [117]:
new_df.fillna(0,inplace = True)

In [118]:
new_df[new_df.dm_per == 0]

,gameId,duration,participantId,championId,lane,side,win,damageDealt,damageTaken,gold,kills,deaths,assists,champion_name_kr,dm_per
1722,5311611620,194,3,81,Middle,blue,False,0,0,672,0,0,0,이즈리얼,0.0
1726,5311611620,194,7,201,Jungle,red,True,0,62,791,0,0,0,브라움,0.0
1729,5311611620,194,10,523,Supporter,red,True,0,0,1165,0,0,0,아펠리오스,0.0
2415,5311627282,551,6,119,Top,red,False,0,0,1401,0,0,0,드레이븐,0.0
2861,5311636686,193,2,91,Jungle,blue,True,0,152,968,0,0,0,탈론,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994232,5346316642,192,3,68,Middle,blue,False,0,0,669,0,0,0,럼블,0.0
994239,5346316642,192,10,56,Supporter,red,True,0,1422,1114,0,0,0,녹턴,0.0
996124,5346378491,192,5,421,Supporter,blue,True,0,1413,985,0,0,0,렉사이,0.0
996128,5346378491,192,9,163,Bot,red,False,0,41,669,0,0,0,탈리야,0.0
998202,5346457671,192,3,81,Middle,blue,False,0,0,669,0,0,0,이즈리얼,0.0

In [120]:
from numpy import inf

In [123]:
new_df.replace(inf,'perfect',inplace=True)

In [124]:
new_df[new_df.dm_per == 'perfect']

,gameId,duration,participantId,championId,lane,side,win,damageDealt,damageTaken,gold,kills,deaths,assists,champion_name_kr,dm_per
11023,5311782587,192,4,202,Bot,blue,False,239,0,962,0,0,0,진,perfect
17293,5311871136,196,4,81,Bot,blue,False,198,0,773,0,0,0,이즈리얼,perfect
28065,5312151091,195,6,117,Top,red,False,57,0,768,0,0,0,룰루,perfect
44246,5312901676,665,7,350,Jungle,red,False,200,0,2005,0,0,3,유미,perfect
48310,5313043535,196,1,111,Top,blue,True,111,0,1024,1,0,0,노틸러스,perfect
65591,5313664883,191,2,40,Jungle,blue,True,527,0,940,0,0,2,잔나,perfect
67610,5313714690,194,1,20,Top,blue,False,309,0,1112,1,0,1,누누와 윌럼프,perfect
116359,5315781379,616,10,13,Supporter,red,False,72,0,1533,0,0,0,라이즈,perfect
236691,5320319024,191,2,34,Jungle,blue,True,103,0,956,0,0,1,애니비아,perfect
257901,5320923695,191,2,43,Jungle,blue,False,700,0,1607,2,0,0,카르마,perfect
266079,5321325072,196,10,777,Supporter,red,False,164,0,830,0,0,0,요네,perfect
286036,5321762704,191,7,429,Jungle,red,False,55,0,1041,1,0,1,칼리스타,perfect
309660,5322722549,193,1,163,Top,blue,False,586,0,1132,1,0,1,탈리야,perfect
313973,5322810421,193,4,360,Bot,blue,False,69,0,671,0,0,0,사미라,perfect
318853,5323338057,199,4,350,Bot,blue,True,262,0,780,0,0,0,유미,perfect
364713,5324802883,191,4,81,Bot,blue,False,77,0,716,0,0,0,이즈리얼,perfect
377481,5325039923,196,2,101,Jungle,blue,False,96,0,713,0,0,0,제라스,perfect
411028,5326171285,194,9,236,Bot,red,False,244,0,683,0,0,0,루시안,perfect
423640,5326545654,192,1,350,Top,blue,False,250,0,755,0,0,0,유미,perfect
429929,5326679669,191,10,29,Supporter,red,False,75,0,1066,1,0,0,트위치,perfect
459574,5327715999,197,5,518,Supporter,blue,False,253,0,755,0,0,0,니코,perfect
469815,5327980475,191,6,43,Top,red,False,95,0,682,0,0,0,카르마,perfect
471426,5328285690,193,7,7,Jungle,red,True,18,0,810,0,0,0,르블랑,perfect
504160,5329222679,191,1,202,Top,blue,False,356,0,1066,1,0,0,진,perfect
504164,5329222679,191,5,26,Supporter,blue,False,135,0,796,0,0,1,질리언,perfect
538354,5330490242,482,5,25,Supporter,blue,False,75,0,1405,0,0,0,모르가나,perfect
541637,5330652464,199,8,203,Middle,red,False,46,0,777,0,0,1,킨드레드,perfect
689172,5335868319,194,3,350,Middle,blue,True,153,0,895,0,0,1,유미,perfect
753693,5337854432,195,4,350,Bot,blue,True,266,0,772,0,0,0,유미,perfect
753732,5337855175,205,3,145,Middle,blue,True,104,0,1104,0,0,0,카이사,perfect
769128,5338716043,194,9,81,Bot,red,False,52,0,729,0,0,0,이즈리얼,perfect
791987,5339214577,195,8,21,Middle,red,True,240,0,1000,0,0,0,미스 포츈,perfect
795770,5339322021,713,1,350,Top,blue,False,359,0,2067,0,0,1,유미,perfect
806651,5339959759,191,2,67,Jungle,blue,True,416,0,1364,1,0,0,베인,perfect
880563,5342031036,194,4,523,Bot,blue,True,110,0,1113,0,0,0,아펠리오스,perfect
895979,5342683183,193,10,86,Supporter,red,False,219,0,670,0,0,0,가렌,perfect
909799,5343028767,192,10,26,Supporter,red,False,122,0,753,0,0,0,질리언,perfect
962902,5345082074,194,3,427,Middle,blue,False,64,0,1108,0,0,1,아이번,perfect